@model SocialMedia.Models.PostModel
<form method="post">
	<input type="text" asp-for="Content" placeholder="Enter Content" />
    <input type="hidden" asp-for="UserId" />
	<button type="submit">Post</button>
</form>
