@model SocialMedia.Models.UserModel

<h1>User Dashboard</h1>

<h2>User Details</h2>
<p><b>Username:</b>@Model.Username</p>

<p><b>E-mail:</b>@Model.Email</p>


<h2>Your Posts</h2>
@foreach(var post in Model.Posts)
{
	<p>@post.Content</p>
	<a asp-controller="post" asp-action="Delete" asp-route-UserId="@post.Id">Delete</a>
}